/* #root {
  position: relative;
} */

html body {

  background-image: url("../public/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 0;
  height: 100% !important;

}

h1 {
  font-weight: bolder;
  color: #e1dede;
  text-align: center;
  padding: 3rem 2.5rem 2.5rem 2.5rem;
}

.custom {
  width: 100%;
}

.btn-L {
  width: 75%;
}

.btn-R {
  width: 25%;
}

.custom2 {
  padding: 5px;
}

.add-icon {
  font-weight: bolder;
  font-size: large;
  padding: 0 !important;
}


.switch {
  position: absolute;
  top: 2%;
  right: 5%;
  text-align: right;
}


.keywords {
  padding: 0.5 rem;
  border-style: solid;
  border-radius: 0.3rem;
  border-color: rgb(216, 211, 211);
  border-width: 0.05rem;
  width: 25rem;
  height: 5rem;
  margin: 2px;
  overflow-wrap: break-word;
  overflow-y: scroll
}

.settings {
  position: relative;
  width: 15rem;
  padding: 0 !important;

}

.settings h5 {
  text-align: center;
}

.check-item {
  position: absolute;
  right: 1rem;
}

a {
  text-decoration: none;
  Color: grey;
}

.categories {
  padding-top: 5rem;

}

.brand-text {
  margin-right: 7rem !important;
}

.nav-custom {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#footer {

  margin: 0 !important;
}

.contact {
  margin-right: 10%;
}

.copyright {
  margin-left: 5%;
}

.main-container {

  padding-left: 5%;
  padding-right: 5%;
}

.category-container {
  padding-left: 7%;
  padding-right: 7%;
}



.popup-icon {
  position: absolute;
  bottom: 30%;
  right: 5%;
}

.popup-info {
  background-color: #e1dede;
  margin: 0;
  padding: 0;
}

.tooltip [class$="inner"] {
  background-color: rgb(100, 97, 97);
  border: 1px solid rgb(100, 97, 97);
}